.listenWrapper {
	
	margin-left: 10%;
	position: absolute;
 	bottom: 10px;
  	top: 50px;
	overflow: scroll;
    overflow-x: hidden;

}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

@media only screen and (max-width: 600px) {
    .listenWrapper {
        margin-left: auto;
        margin-right: auto;
        
    }
}

@media only screen and (max-width: 1000px) {
    .listenWrapper {
        max-width: 500px;
        
    }
}

.gridLayout {
	display: grid;
	grid-template-columns: 50% 50%;

  	/*grid-template-rows: 20% 20% 20% 20% 20%;*/
}

.albumCard {
	background-color: rgba(242, 242, 242, 0.6);
}