.aboutContainer {
  width: 100%;
  

}

.aboutCard {
    height: auto;
  background-color: rgba(70, 90, 105, 0.7);
    max-width: 900px;

  }

.youtubeText {
  max-width: 900px;
  height: auto;
}

.youtubePlayer {

}

